.languageModalContainer {
    z-index: 999;
    position: absolute;
    top: 8%;
    right: 15%;
    height: 120px;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px #0000004f;

}

.modalPopTag {
    position: absolute;
    top: -7px;
    right: 45%;
    height: 30px;
    width: 30px;
    background-color: white;
    transform: rotate(45deg);
}

ul {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 1em;
}