.modalContainer {
    z-index: 999;
    position: absolute;
    top: 130%;
    right: 0;
    height: 500px;
    width: 300px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px #0000004f;
}

.modalPopTag {
    position: absolute;
    top: -7px;
    right: 15px;
    height: 30px;
    width: 30px;
    background-color: white;
    transform: rotate(45deg);
}

.separator {
    background-color: rgba(0, 0, 0, 0.171);
    height: 1px;
}

.userProfile {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-block: 1rem;
    margin-left: 1rem;
}

.userName {
    margin-left: 10px;
}

.userName span {
    font-weight: 700;
    font-size: 1.3rem;
}

.editProfileContainer {
    margin-top: 10px;
    margin-left: 10px;
}

.editProfileContainer button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem;
    width: 95%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #004896;
}

.editProfileContainer span {
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.editProfileContainer button:hover {
    background-color: hsl(211, 100%, 34%);
}

.modalContainer a {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 1rem;
    box-sizing: border-box;
}

.modalContainer a:hover {
    background-color: #d9ebfe;
}

.eliteBuyer {
    background: linear-gradient(90deg, #d9ebfe, rgba(255, 255, 255, 1) 67.64%);
}

.newText {
    background-color: #bf2600;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
}

.logoutBtn {
    width: 100%;
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
}

.logoutBtn:hover {
    background-color: #d9ebfe;
}

.logoutBtn span {
    font-size: 1rem;
}