.searcheSection {
    display: none;
    gap: 20px;
}

.locationSearch {
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    gap: 10px;
    padding: 0.5em 0.5em;
    justify-content: center;
    align-items: center;
}

.locationSearchSvg {
    width: 1em;
}

.locationInput {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0 0.5rem;
    width: 10rem;
}

.locationInput::placeholder {
    color: #020812;
    font-size: 1rem;
}

.locationSearch button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 2px;
}

.adSearch {
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.adSearchInput {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0 0.5rem;
    width: 10rem;
}

.adSearchBtn {
    height: 100%;
    width: auto;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    background-color: #000;
}

.adSearchBtn svg {
    fill: white;
}

@media (min-width: 540px) and (max-width: 1023px) {

    .searcheSection {
        display: flex;
    }
}

@media (min-width: 1024px) {

    .searcheSection {
        display: flex;
    }
}