.onboardingCarousel {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.carouselImg img {
    width: 6rem;
}

.description {
    margin-block: 2rem;
    font-size: 1rem;
    font-weight: 500;
    max-width: 80%;
    text-align: center;
}

.carousel img,
.carousel source,
.carousel .description span {
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}